/* Part 1 - Advertisemnt for Piha Beach using CSS only.*/
img {
    max-width: 100%;
    width: 100%;
    height:auto;
}

h1 {
	color:#eb122f;
}
h2 {
	color:#ffc107;
}
.hide {
	display:none;
}
.site-name {
	left:50px;
	top:150px;
	z-index:2;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}
.name {
	right:50px;
	bottom:10px;
	z-index:2;
}


.site-name h1::before {   
    content: "Piha";
    font-size: 80px;
    animation-name: head;
    animation-duration: 12s;
    font-style: italic;
    
}


.name h2 {  
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
	  transform: translate3d(0, 0, 0);
	  backface-visibility: hidden;
	  perspective: 1000px;
      font-size: 20px;
      opacity: 0;
      animation-delay: 12s;
 	
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) ; opacity:1;
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);opacity:1;
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);opacity:1;
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);opacity:1;
  }
}

@keyframes head {
    0% {font-size:100%; opacity:1;}
    25% {font-size:200%; opacity:0;}
    
    50% {font-size:100%; opacity:1; content: "Scenic" ; color: yellow;}
    75% {font-size:200%; opacity:0;}
    100% {font-size:100%;opacity:1; content: "Beauty"}
}


.beach a {
	width:100%;
	height:100%;
}

.piha-slides {width:100%; height:300px; overflow:hidden; position:relative; }
.piha-slides img {
	width: 100%; 
	height: 100%;
	position:absolute; 
	z-index:1;
}

.piha-slides img.fade{
	
	animation:piha-minislide 9s forwards; 
	opacity:0;
	
}
.piha-slides img.slide-bottom-top{ 
		
    transform: translateY(100%);
   animation: slide-bottom 4s 2s forwards ;
 
}
.piha-slides img.slide-right-left { 
		
	transform: translateX(100%);
	animation: right-left 4s 6s forwards ;
  
 }

 


 
@keyframes piha-minislide {25%{opacity:1;} 40%{opacity:0;}}


@-webkit-keyframes slide-bottom {
     100% { transform: translateY(0); } 0% {transform: translateY(100%);}
}
@-webkit-keyframes right-left {
     100% { transform: translateX(0); } 0% {transform: translateX(100%);}
}



@keyframes fade-out {
    100% { opacity: 0; }
  }

@keyframes bottom-to-top{

}
    
@keyframes right-to-left {
   
}
/*part*/

.advertisement{height: 500px;
    position: relative;
    right:0px;
    top: 8px;
    left:0px;
}
.girl{position:absolute;
    height:500px;
    right:0px;
    top: 8px;
    

    

}
.ship{height: 500px;
    position: absolute;
    right:0px ;
    top: 8px;
}
/*Part3*/

#display{ position:relative;
    left:0px;
    font-size: 50px;
    
    font-style:italic;
    color:red;
    
}



#date1{
    position: relative;
    top:50px;
    left: 0px;
}

#date2{
    position: relative;
    top:70px;
    left: 0px;
}

#name1{
    position: absolute;
    left:600px;
    top: 115px;
}

#name2{
    position:absolute;
    left:600px;
    top:170px;
}

#email1{
    position: absolute;
    left:600px;
    top:225px;
}

#progressbar{
    height: 300px;
    position: relative;
    
}

#file{
    position: relative;
    height: 40px;
    width:800px;
    left:230px;
    top:40px;
}






.navbar-nav .navbar  {
	display: flex;
    align-items: center;
    justify-content: center;
	padding:0;
}
.navbar-nav .navbar-expand-sm .navbar-nav .nav-link {
	text-transform:uppercase;
	line-height: 58px;
	padding: 0 20px;
	color:#000;
}
.navbar-nav .navbar-expand-sm .navbar-nav .nav-link:hover {
	background:#000;
	color:#fff;
}


.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flexslider {
	position:relative;
}
.slide-text {
	position:absolute;
}


.slides li {
	position:relative;
	z-index:1;
}
.flex-active-slide .flexslider-text {
	display:block;
	
}
.flexslider-text {
	position:absolute;
	left:20px;
	top:40px;
	z-index:2;
	display:none;

}
.flexslider-text .text-wrapper {
 animation: 3s linear 0s move;
}
.flexslider-text .text-wrapper-2 {
 animation: 5s linear 0s move;
}

@keyframes move {
  0%,
  25% {
    transform: translateX(-200%);
    left: 200%;
  }
  75%,
  100% {
    transform: translateX(0%);
    left: 0%;
  }
}

.slider{
    width: 400px;
}